body {
  font-family: Poppins, Arial;
  /* background-color: black; */
  color: white;
  
}

.pusher{
  position: absolute;
  background: rgb(203,35,55);
  background: linear-gradient(90deg, rgba(203,35,55,1) 0%, rgba(108,9,121,1) 50%, rgba(0,212,255,1) 100%);
  min-height: 100px;
  border: solid 1px blue;
}
.hero{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  min-height: 600px;
}

.curve{
  /* position: relative;
  display: block;
  z-index: 2; */
  /* width: inherit; */
  /* height: 100%; */
  min-height: 300px;

}
.nav-links {
  position: absolute;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 20px;
  align-items: center;
  font-size: 14px;
  padding: 20px;
}

.custom-shape-divider-top-1731505062 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1731505062 svg {
  position: relative;
  display: block;
  width: calc(187% + 1.3px);
  height: 258px;
}

.custom-shape-divider-top-1731505062 .shape-fill {
  fill: url(#myGradient);
}



.left-header {
  display: flex;
  gap: 50px;
  align-items: center;
}

.right-header {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 70px;
}

.pages, .sign-button {
  cursor: pointer;
  transition: opacity 0.5s;
}

.pages:hover, .sign-button:hover {
  opacity: 0.6;
}

.sign-button {
  border: solid 2px;
  padding: 10px 25px;
  border-radius: 20px;
}

.sign-button:active {
  padding: 10px 20px;
}