:root {
  --buttonColor: rgb(99, 91, 255);
  --gradientColorZero: #a960ee;
  --gradientColorOne: #ff333d;
  --gradientColorTwo: #90e0ff;
  --gradientColorThree: #ffcb57;
  --gradientColorZeroTransparent: rgba(169, 96, 238, 0);
  --gradientColorOneTransparent: rgba(255, 51, 61, 0);
  --gradientColorTwoTransparent: rgba(144, 224, 255, 0);
  --gradientColorThreeTransparent: rgba(255, 203, 87, 0);
  --gradientAngle: var(--angleStrong);
  --gradientHeight: calc(100% + var(--sectionPaddingTop) + var(--transformOriginX)* var(--sectionAngleSin));
  --offsetX: var(--gutterWidth); }

body {
  font-family: sohne-var, "Helvetica Neue", Arial, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-bottom: 5000px;
}

.stripe-logo {
  width: 50px;
  z-index: 1;
  color: white;
  transition: opacity 0.5s;
  cursor: pointer;
  margin-right: 30px;
}

.nav-bar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #a960ee, #ff333d, #90e0ff, #ffcb57) ;
  border-radius: 0 0 100% 0%;
  transform: scaleX(1.1);
}

.nav-bar {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
  /* max-width: 900px; */
  display: flex;
  justify-content:center;
  text-align: center;
  
}

.nav-links {
  position: absolute;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 20px;
  align-items: center;
  font-size: 14px;
  padding: 20px;
  color: white;
}

/* .custom-shape-divider-top-1731505062 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1731505062 svg {
  position: relative;
  display: block;
  width: calc(187% + 1.3px);
  height: 258px;
}

.custom-shape-divider-top-1731505062 .shape-fill {
  fill: url(#myGradient);
} */



.left-header {
  display: flex;
  gap: 50px;
  align-items: center;
}

.right-header {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 100px;
}

.pages, .sign-button {
  cursor: pointer;
  transition: opacity 0.5s;
  font-weight: Bold;
}

.pages:hover, .sign-button:hover, .stripe-logo:hover, .suggestion:hover, .start-button:hover {
  opacity: 0.6;
}

.sign-button {
  padding: 10px 20px;
  border-radius: 20px;
  /* color: transparent; */
  color: black;
  background-color: white;
}

.suggestion {
  color: white;
  font-size: 13px;
  background-color: rgb(44, 44, 45);
  padding: 5px 10px;
  border-radius: 17px;
  cursor: pointer;
  transition: opacity 0.5s;
  width: 285px;
}

.financial-topic {
  width: 619.2px;
  font-size: 82px;
  font-weight: Bold;
  line-height: 83px;
  letter-spacing: -3.72px;
  margin: 40px 0px;
}

.financial-description {
  color: #425466;
  width: 529.2px;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.email-space {
  padding: 16px 18px;
  width: 384px;
  border-radius: 25px;
  background-color: rgb(234, 233, 243);
  border: none;
}

.email-space:focus {
  border: solid;
  border-color: blue;
  /* outline: none; */
}
/* 
input[type="email"] , input[type="email"]:focus {
  font-family: Poppins, Arial;
} */

.start-button {
  background-color: #0A2540;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  width: 100px;
  position: absolute;
  right: 10px;
}

.start-button ::placeholder {
  color: black;
}

.left-description {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  left: 180px;
  margin-top: -310px;
  z-index: 100;
}

.phone-design {
  position: absolute;
  right: 355px;
  top: 370px;
  width: 200px;
  z-index: 101;
  border-radius: 35px;
  
}

.big-screen-design {
  width: 800px;
  position: absolute;
  top: 210px;
  right: -350px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
  border-radius: 35px;
  z-index: 100;
}

.company-grid {
  display: flex;
  justify-content: space-evenly;
}

.company-logo {
  width: 100px;
}





