.services-layout {
  width: 540px;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  margin-left: 180px;
}

.services-title {
  font-size: 18px;
  color: var(--buttonColor);
  font-weight: Bold;
}

.services-body {
  font-size: 56px;
  font-weight: Bold;
  letter-spacing: -1.12px;
  line-height: 68px;
  width: 460px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(10, 37, 64);
}

.services-description {
  font-size: 18px;
  color: rgb(66, 84, 102);
  line-height: 28px;
  letter-spacing: 0.2px;
  width: 460px;
}

.service-icon {
  width: 20px;
}

.service-button {
  background-color: var(--buttonColor);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  width: 190px;
  font-weight: Bold;
  font-size: 15px;
}

.service-button:hover {
  background-color: #0A2540;;
}

.sub-bio {
  margin-top: 48px;
}

.selected-text {
  color: var(--buttonColor);
  font-weight: Bold;
  cursor: pointer;
  transition: color 0.3s;
}

.selected-text:hover {
  color: #0A2540;;
}

.video-container {
  position: relative;
  width: 100%;
  height: 800px; /* Match the height of the SVG */
  overflow: hidden;
  z-index: -2;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  object-fit: cover; /* Ensures the video covers the div */
  z-index: -1; /* Places the video behind the content */
}


.user-rate {
  color: white;
  font-size: 24px;
  font-weight: Bold;
  letter-spacing: 0.1px;
  width: 222px;
  border-left: solid 2px rgb(0, 212, 255);
  padding-left: 16px;
}

.rate-info {
  color: rgb(173, 189, 204);
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 24px;
  width: 270px;
  padding-left: 16px;
}

.second-text {
  cursor: pointer;
  color: rgb(0, 212, 255);
}

.second-text:hover {
  color: white;
}

.maersk-logo {
  width: 400px;
  padding: 145px 145px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
}

.partnerships-layout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}

.partnership-logo {
  width: 80px;
  cursor: pointer;
}

.services-procedure {
  width: 450px;
  height: 300px;
  border-bottom: solid 0.5px rgb(230, 227, 227);
  display: inline-block;
}

.procedure-grid {
  width: 451px;
  padding: 0px 3px;
  box-shadow: -1px 7px 5px rgba(202, 200, 200, 0.8);
  border-radius: 4px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.procedure-flex {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.service-button3 {
  background-color: rgb(0, 212, 255);
  color: rgb(10, 37, 64);
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: Bold;
  font-size: 15px;
  background-color: rgb(0, 212, 255); 
  width: 160px;
  transition: background-color 0.3s;
}

.service-button3:hover {
  background-color: white;
}

.nodejs-picture {
  width: 540px;
  margin-top: 15px;
  border-radius: 8px;
}

.icon6 {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.user-rate2 {
  color: white;
  font-size: 15px;
  font-weight: Bold;
  letter-spacing: 0.1px;
  width: 222px;
  border-left: solid 2px rgb(0, 212, 255);
  padding-left: 16px;
}

.link-text {
  color: rgb(0, 212, 255);
  cursor: pointer;
  font-size: 15px;
  transition: color 0.3s;
  margin-left: 15px;
  font-weight: Bold;
}

.link-text:hover {
  color: white;
}

.custom-shape-divider-top-1732722153 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1732722153 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1732722153 .shape-fill {
  fill: rgb(10, 37, 64);
}

/* From Uiverse.io by KSAplay 
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simple-text {
  position: absolute;
  top: -100px;
  color: white;
  width: 200px;
  text-align: center;
}

.cube {
  position: absolute;
  width: 40px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(45deg);
  transition: 300ms ease;
  cursor: pointer;
  animation: rotateCube 10s infinite linear;
}
/* change the distance between cubes with translateX */
.cube-front,
.cube-back {
  transform: translateX(40px) translateZ(-20px);
  animation: none;
}
/* change the distance between cubes with translateZ */
.cube-top,
.cube-bottom {
  transform: translateZ(20px);
  animation: none;
}
/* change the distance between cubes with translateX */
.cube-left,
.cube-right {
  transform: translateX(40px) translateZ(-20px);
  animation: none;
}

.face {
  position: absolute;
  transform-style: preserve-3d;
  width: 40px;
  height: 40px;
  background: rgb(21, 46, 75);
  background: radial-gradient(
    circle,
    rgba(21, 46, 75, 1) 0%,
    rgba(10, 14, 55, 1) 100%
  );
}

.front {
  transform: rotateY(0deg) translateZ(20px);
}

.back {
  transform: rotateY(180deg) translateZ(20px);
}

.left {
  transform: rotateY(-90deg) translateZ(20px);
}

.right {
  transform: rotateY(90deg) translateZ(20px);
}

.top {
  transform: rotateX(90deg) translateZ(20px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(20px);
}

.cube-back:hover .face,
.cube-front:hover .face,
.cube-top:hover .face,
.cube-bottom:hover .face,
.cube-left:hover .face,
.cube-right:hover .face {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, white 60%, rgb(157, 208, 255) 100%);
  filter: drop-shadow(0px 0px 5px #e7faff)
    drop-shadow(0px 0px 15px rgb(75, 168, 255))
    drop-shadow(0px 0px 30px rgb(50, 156, 255));
}

.cube:active {
  transform: translateX(0px) translateZ(-20px);
}

.cube-back:active .face,
.cube-front:active .face,
.cube-top:active .face,
.cube-bottom:active .face,
.cube-left:active .face,
.cube-right:active .face {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, white 60%, rgb(157, 208, 255) 100%);
  filter: drop-shadow(0px 0px 5px #e7faff)
    drop-shadow(0px 0px 15px rgb(75, 168, 255))
    drop-shadow(0px 0px 30px rgb(50, 156, 255));
}

.middle {
  background: transparent;
}

@keyframes rotateCube {
  0% {
    transform: rotateX(-30deg) rotateY(45deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(405deg);
  }
} */




